[Unit]
Description=Bookworm %i service

[Service]
User=david
Type=simple
WorkingDirectory=/home/david/git/irc-books/
ExecStart=/home/david/git/irc-books/.venv/bin/%i
Nice=5

[Install]
WantedBy=multi-user.target
